In [1]:
from WindPy import w
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame(data=[676, np.nan, 670, np.nan, 668], index=['2012-01-31 00:00:00','2012-02-29 00:00:00',
                                                     '2012-03-31 00:00:00','2012-04-30 00:00:00',
                                                     '2012-05-31 00:00:00'])

In [4]:
df

                         0
2012-01-31 00:00:00  676.0
2012-02-29 00:00:00    NaN
2012-03-31 00:00:00  670.0
2012-04-30 00:00:00    NaN
2012-05-31 00:00:00  668.0

In [5]:
df.fillna((df.fillna(method='ffill') + df.fillna(method='bfill'))/2)

                         0
2012-01-31 00:00:00  676.0
2012-02-29 00:00:00  673.0
2012-03-31 00:00:00  670.0
2012-04-30 00:00:00  669.0
2012-05-31 00:00:00  668.0

In [3]:
data = w.wsd('000001.SH', 'close', '2019-01-01', '2019-07-05')

In [6]:
df = pd.DataFrame(np.array(data.Data).T, index=data.Times, columns=['close'])

In [7]:
df.index = pd.to_datetime(df.index)

In [14]:
df

                close
2019-01-02  2465.2910
2019-01-03  2464.3628
2019-01-04  2514.8682
2019-01-07  2533.0887
2019-01-08  2526.4622
2019-01-09  2544.3449
2019-01-10  2535.0985
2019-01-11  2553.8313
2019-01-14  2535.7653
2019-01-15  2570.3449
2019-01-16  2570.4221
2019-01-17  2559.6370
2019-01-18  2596.0056
2019-01-21  2610.5094
2019-01-22  2579.7041
2019-01-23  2581.0041
2019-01-24  2591.6935
2019-01-25  2601.7234
2019-01-28  2596.9767
2019-01-29  2594.2536
2019-01-30  2575.5756
2019-01-31  2584.5724
2019-02-01  2618.2323
2019-02-11  2653.8960
2019-02-12  2671.8937
2019-02-13  2721.0683
2019-02-14  2719.6999
2019-02-15  2682.3850
2019-02-18  2754.3566
2019-02-19  2755.6459
...               ...
2019-05-24  2852.9948
2019-05-27  2892.3782
2019-05-28  2909.9106
2019-05-29  2914.6964
2019-05-30  2905.8054
2019-05-31  2898.6961
2019-06-03  2890.0809
2019-06-04  2862.2803
2019-06-05  2861.4181
2019-06-06  2827.7978
2019-06-10  2852.1302
2019-06-11  2925.7162
2019-06-12  2909.3796
2019-06-13  2910.7406
2019-06-14  2881.9743
2019-06-17  2887.6221
2019-06-18  2890.1580
2019-06-19  2917.8029
2019-06-20  2987.1186
2019-06-21  3001.9802
2019-06-24  3008.1479
2019-06-25  2982.0738
2019-06-26  2976.2837
2019-06-27  2996.7926
2019-06-28  2978.8784
2019-07-01  3044.9028
2019-07-02  3043.9428
2019-07-03  3015.2633
2019-07-04  3005.2488
2019-07-05  3011.0588

[123 rows x 1 columns]

In [13]:
df.assign(Date=df.index).resample('BM').last().set_index('Date')

                close
Date
2019-01-31  2584.5724
2019-02-28  2940.9538
2019-03-29  3090.7580
2019-04-30  3078.3389
2019-05-31  2898.6961
2019-06-28  2978.8784
2019-07-05  3011.0588

In [8]:
A = np.array([[1,2,3],[4,5,6],[1,2,1]])

In [10]:
np.linalg.det(A.T)

6.0

In [13]:
import scipy.stats

In [20]:
f = scipy.stats.norm(1, np.sqrt(2))

In [21]:
f.cdf(2) - f.cdf(0.5)

0.3984131339906417

In [25]:
-1. / np.sqrt(10)

-0.31622776601683794

In [7]:
np.matmul(w.T, t)

array([[0.1716259]])

In [40]:
metrics = [lambda x:x, lambda x: x+1, lambda x: x+2]

In [35]:
?metrics[0]

Type:        list
String form: [<function <lambda> at 0x0000000008FAFC88>, <function <lambda> at 0x0000000008FAFCF8>, <function <lambda> at 0x0000000008FAFF98>]
Length:      3
Docstring:
list() -> new empty list
list(iterable) -> new list initialized from iterable's items

In [6]:
data = w.wsd('881001.WI,000300.SH', 'close', '2019-01-01', '2019-05-01')

In [7]:
df = pd.DataFrame(np.array(data.Data).T, index=data.Times, columns=data.Codes)

In [8]:
df

            881001.WI  000300.SH
2019-01-02  3214.2658  2969.5353
2019-01-03  3203.5551  2964.8421
2019-01-04  3282.2831  3035.8741
2019-01-07  3323.8462  3054.3030
2019-01-08  3317.8362  3047.7035
2019-01-09  3339.6651  3078.4759
2019-01-10  3333.0501  3072.6864
2019-01-11  3358.3954  3094.7782
2019-01-14  3334.6410  3067.7845
2019-01-15  3386.2528  3127.9904
2019-01-16  3383.5527  3128.6517
2019-01-17  3359.9352  3111.4168
2019-01-18  3403.2947  3168.1739
2019-01-21  3421.5607  3185.6364
2019-01-22  3379.5187  3143.3171
2019-01-23  3381.1585  3141.0532
2019-01-24  3399.1011  3158.7817
2019-01-25  3403.4975  3184.4696
2019-01-28  3392.5762  3183.7777
2019-01-29  3372.3261  3193.9698
2019-01-30  3337.2465  3168.4829
2019-01-31  3333.4650  3201.6331
2019-02-01  3400.7148  3247.3971
2019-02-11  3476.4956  3306.4725
2019-02-12  3510.0015  3330.3353
2019-02-13  3575.5265  3397.0276
2019-02-14  3586.3165  3402.1403
2019-02-15  3547.7599  3338.7047
2019-02-18  3664.9033  3445.7448
2019-02-19  3667.6786  3439.6078
...               ...        ...
2019-03-19  4221.8907  3833.9626
2019-03-20  4221.3026  3835.4397
2019-03-21  4246.9516  3836.8913
2019-03-22  4254.6575  3833.8013
2019-03-25  4183.1487  3742.8252
2019-03-26  4102.6560  3700.4388
2019-03-27  4139.7307  3743.3878
2019-03-28  4102.1660  3728.3953
2019-03-29  4241.5262  3872.3412
2019-04-01  4375.6531  3973.9280
2019-04-02  4385.7786  3971.2852
2019-04-03  4436.8796  4022.1566
2019-04-04  4470.6075  4062.2309
2019-04-08  4459.7424  4057.2286
2019-04-09  4474.5556  4075.4301
2019-04-10  4476.7299  4085.8470
2019-04-11  4387.1907  3997.5778
2019-04-12  4381.4391  3988.6168
2019-04-15  4354.3076  3975.5244
2019-04-16  4457.8845  4085.7891
2019-04-17  4476.3576  4087.2398
2019-04-18  4454.9795  4072.0753
2019-04-19  4497.5439  4120.6078
2019-04-22  4419.6543  4025.6109
2019-04-23  4378.8977  4019.0053
2019-04-24  4407.0132  4030.0887
2019-04-25  4273.6954  3941.8160
2019-04-26  4218.1447  3889.2748
2019-04-29  4153.6978  3900.3339
2019-04-30  4180.4348  3913.2110

[79 rows x 2 columns]

In [10]:
a = df['881001.WI'].rolling(window=20).corr(df['000300.SH'])

In [11]:
b = df['881001.WI'].rolling(window=20).corr(df['000300.SH'].rolling(window=20))