In [8]:
from WindPy import w
import pandas as pd
import numpy as np
import datetime
import calendar

In [2]:
w.start()

Welcome to use Wind Quant API for Python (WindPy)!
You can use w.menu to help yourself to create commands(WSD,WSS,WST,WSI,WSQ,...)!

COPYRIGHT (C) 2016 WIND HONGHUI INFORMATION & TECHKNOLEWDGE CO., LTD. ALL RIGHTS RESERVED.
IN NO CIRCUMSTANCE SHALL WIND BE RESPONSIBLE FOR ANY DAMAGES OR LOSSES CAUSED BY USING WIND QUANT API FOR Python.

.ErrorCode=0
.Data=[OK!]

In [5]:
DATA_DIR = 'D:/Data/stocks/'
code = '000002.SZ'
fname = '%s/%s.xlsx'%(DATA_DIR, code)

In [6]:
sdf = pd.read_excel(fname, index_col=0)

In [7]:
sdf.head()

,amt,close,dealnum,high,low,mfd_buyamt_a,mfd_sellamt_a,mkt_freeshares,pe_ttm,turnover,volume,vwap
2011-04-01 00:00:00.005,6.395283e+08,7.435313,NaN,7.443743,7.165551,NaN,NaN,7.092863e+10,13.315400,0.009017,73417645.0,7.343278
2011-04-06 00:00:00.005,9.503367e+08,7.536473,NaN,7.578624,7.359442,NaN,NaN,7.189365e+10,13.496563,0.013219,106840180.0,7.498485
2011-04-07 00:00:00.005,1.173974e+09,7.713505,NaN,7.823095,7.511183,NaN,NaN,7.358243e+10,13.813596,0.015955,128453209.0,7.704493
2011-04-08 00:00:00.005,0.000000e+00,7.713505,NaN,7.713505,7.713505,NaN,NaN,7.358243e+10,13.813596,0.000000,0.0,NaN
2011-04-11 00:00:00.005,7.459555e+08,7.435313,NaN,7.747225,7.426882,NaN,NaN,7.092863e+10,13.315400,0.010517,83328040.0,7.546618

In [9]:
years = range(2011, 2018)
months = [3, 6, 9, 12]

In [13]:
dates = []
for year in years:
    for month in months:
        day = calendar.monthrange(year, month)[1]
        dates.append('%s-%s-%s'%(year, month, day))

In [19]:
roic = []
for date in dates:
    data = w.wss(code, "roic","rptDate=%s"%(date))
    roic.append(data.Data[0][0])

In [20]:
print roic

[[1.3066], [3.1155], [3.7573], [9.8488], [1.3085], [3.3179], [4.5722], [10.2562], [1.1037], [3.1046], [4.1395], [9.7615], [0.9112], [2.7969], [3.7381], [9.0631], [0.3653], [2.7605], [3.8369], [9.6527], [0.4196], [2.714], [4.2274], [9.4923], [0.2751], [None], [None], [None]]