In [1]:
import pandas as pd
import os

In [2]:
DATA_DIR = 'D:/Data/stocks/'

In [23]:
files = [f.rstrip('.xlsx') for f in os.listdir(DATA_DIR)]

In [24]:
columns = ['amt', 'volume', 'mkt_freeshares']
df = pd.DataFrame({}, columns=columns, index=files)

In [26]:
df.head()

           amt volume mkt_freeshares
000001.SZ  NaN    NaN            NaN
000002.SZ  NaN    NaN            NaN
000004.SZ  NaN    NaN            NaN
000005.SZ  NaN    NaN            NaN
000006.SZ  NaN    NaN            NaN

In [27]:
for f in files[:1]:
    fname = '%s/%s.xlsx'%(DATA_DIR, f)
    temp = pd.read_excel(fname, index_col=0)
    df.loc[f, :] = temp[columns].iloc[-1]