In [110]:
import pandas as pd
import datetime
from WindPy import w
import matplotlib.pyplot as plt
%matplotlib inline

In [111]:
DATA_DIR = 'C:/Users/jgtzsx01/Documents/workspace/zjsxzy_in_js/website/derivative/data/'
OPTION_DIR = 'D:/Data/derivatives/options/'

In [112]:
df = pd.read_excel('%s/option list.xlsx'%(DATA_DIR), skiprows=6)

In [114]:
df.head(n=10)

,标的代码,标的名称,期权品种,期权代码,期权名称,行权类型,行权价,期权交割月份,期权类型,起始交易日期,最后交易日期,剩余存续期（天）,结算方式,合约乘数
0,510050.SH,华夏上证50ETF,510050OP.SH,10000883.SH,50ETF购2017年5月2.20,欧式,2.20,201705,认购,2017-04-20,2017-05-24,16,实物资产,10000
1,510050.SH,华夏上证50ETF,510050OP.SH,10000869.SH,50ETF购2017年5月2.25,欧式,2.25,201705,认购,2017-03-23,2017-05-24,16,实物资产,10000
2,510050.SH,华夏上证50ETF,510050OP.SH,10000870.SH,50ETF购2017年5月2.30,欧式,2.30,201705,认购,2017-03-23,2017-05-24,16,实物资产,10000
3,510050.SH,华夏上证50ETF,510050OP.SH,10000871.SH,50ETF购2017年5月2.35,欧式,2.35,201705,认购,2017-03-23,2017-05-24,16,实物资产,10000
4,510050.SH,华夏上证50ETF,510050OP.SH,10000872.SH,50ETF购2017年5月2.40,欧式,2.40,201705,认购,2017-03-23,2017-05-24,16,实物资产,10000
5,510050.SH,华夏上证50ETF,510050OP.SH,10000873.SH,50ETF购2017年5月2.45,欧式,2.45,201705,认购,2017-03-23,2017-05-24,16,实物资产,10000
6,510050.SH,华夏上证50ETF,510050OP.SH,10000879.SH,50ETF购2017年5月2.50,欧式,2.50,201705,认购,2017-04-06,2017-05-24,16,实物资产,10000
7,510050.SH,华夏上证50ETF,510050OP.SH,10000884.SH,50ETF沽2017年5月2.20,欧式,2.20,201705,认沽,2017-04-20,2017-05-24,16,实物资产,10000
8,510050.SH,华夏上证50ETF,510050OP.SH,10000874.SH,50ETF沽2017年5月2.25,欧式,2.25,201705,认沽,2017-03-23,2017-05-24,16,实物资产,10000
9,510050.SH,华夏上证50ETF,510050OP.SH,10000875.SH,50ETF沽2017年5月2.30,欧式,2.30,201705,认沽,2017-03-23,2017-05-24,16,实物资产,10000

In [115]:
prices = df[u'行权价'].unique()

In [116]:
prices.sort()

In [117]:
prices

array([ 2.153,  2.2  ,  2.202,  2.25 ,  2.299,  2.3  ,  2.348,  2.35 ,
        2.397,  2.4  ,  2.446,  2.45 ,  2.495,  2.5  ,  2.55 ])

In [127]:
names = []
for i in df.index:
    price = df.loc[i][u'行权价']
    name = df.loc[i][u'期权名称'].rstrip('A').replace(u'2017年', '')
    name = name[:name.find(str(price))]
    if name not in names:
        names.append(name)

In [128]:
for name in names:
    print name

50ETF购5月
50ETF沽5月
50ETF购6月
50ETF沽6月
50ETF购9月
50ETF沽9月
50ETF购12月
50ETF沽12月

In [129]:
odf = pd.DataFrame({}, index=prices, columns=names)

In [130]:
date = datetime.datetime(2017, 5, 8) + datetime.timedelta(seconds=0.005)

In [131]:
date

datetime.datetime(2017, 5, 8, 0, 0, 0, 5000)

In [132]:
for index in df.index:
    option_code = df.loc[index][u'期权代码']
    price = df.loc[index][u'行权价']
    name = df.loc[index][u'期权名称'].rstrip('A').replace(u'2017年', '')
    name = name[:name.find(str(price))]
#     print option_code, odf.loc[price][name]
    fname = '%s/%s.xlsx'%(OPTION_DIR, option_code)
    tdf = pd.read_excel(fname, index_col=0)
#     print tdf.loc[date]['OI']
    odf.loc[price][name] = tdf.loc[date]['OI']

In [133]:
odf

,50ETF购5月,50ETF沽5月,50ETF购6月,50ETF沽6月,50ETF购9月,50ETF沽9月,50ETF购12月,50ETF沽12月
2.153,NaN,NaN,23314,19108,NaN,NaN,NaN,NaN
2.200,8318,7748,13481,17565,10754,12552,2539,6425
2.202,NaN,NaN,6279,9203,NaN,NaN,NaN,NaN
2.250,37126,39330,16197,12864,14363,44651,3317,17678
2.299,NaN,NaN,5366,9550,NaN,NaN,NaN,NaN
2.300,126193,95076,30191,60717,16151,22515,2684,8744
2.348,NaN,NaN,6733,4188,NaN,NaN,NaN,NaN
2.350,187463,81213,65417,34864,33001,21585,4796,3655
2.397,NaN,NaN,10959,3725,NaN,NaN,NaN,NaN
2.400,89670,29296,62029,16290,43845,14777,6450,2320
2.446,NaN,NaN,5497,1840,NaN,NaN,NaN,NaN
2.450,37072,13231,47293,6967,25611,7865,14202,5430
2.495,NaN,NaN,7124,4444,NaN,NaN,NaN,NaN
2.500,13352,10644,33465,15588,33966,10732,NaN,NaN
2.550,NaN,NaN,64334,20891,NaN,NaN,NaN,NaN

In [134]:
odf.to_excel('%s/heatmap.xlsx'%(DATA_DIR))