In [370]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [371]:
window = 243

# 持仓盈亏与盈亏占比

In [372]:
df = pd.read_excel('D:/workspace/zjsxzy_in_js/website/everyday-update/data/881001.WI.xlsx')

In [373]:
df.tail()

            turnover days  current return  profit percentage
2018-06-28      72.636308       -0.183475           0.098896
2018-06-29      72.781117       -0.157568           0.193320
2018-07-02      72.755313       -0.166484           0.151129
2018-07-03      72.850638       -0.151453           0.215008
2018-07-04      73.052216       -0.163054           0.146876

In [374]:
df = df[df.index >= '2013-01-01']

# 加权回购期限

In [375]:
repo = pd.read_excel('D:/Data/risk/weighted_repo.xlsx')

In [376]:
# repo.tail()

# 股票流动性风险

In [377]:
st_li = pd.read_excel('D:/workspace/zjsxzy_in_js/website/everyday-update/data/amihud_liquidity.xlsx')

In [378]:
# st_li.tail()

In [379]:
st_li['z'] = st_li['wdqa_corwin and schultz'].rolling(window).apply(lambda x: (x[-1] - x.mean()) / x.std())

In [380]:
st_li.loc[st_li['z'].abs() < 2, 'z'] = 0

In [381]:
st_li.tail()

,sz50_amihud,sz50_corwin and schultz,sz50_wu,sz_roll,wdqa_amihud,wdqa_wu,wdqa_corwin and schultz,wdqa_roll,hs300_amihud,hs300_wu,...,zz800_roll,zxb_amihud,zxb_wu,zxb_corwin and schultz,zxb_roll,cyb_amihud,cyb_wu,cyb_corwin and schultz,cyb_roll,z
2018-06-25,0.000584,0.006951,3.121192,0.008456,0.015865,2.605720,0.010157,0.017544,0.001516,2.251856,...,0.014022,0.001717,1.088600,0.005117,0.018235,0.001588,1.404887,0.004284,0.015538,0.0
2018-06-26,0.000429,0.027457,2.149270,0.008562,0.009961,1.823947,0.003667,0.017791,0.001836,2.250653,...,0.014377,0.002873,1.560273,0.011291,0.019762,0.001869,1.443733,0.002503,0.015563,0.0
2018-06-27,0.000383,0.002424,2.194309,0.009083,0.007377,1.501350,0.003537,0.017791,0.001555,2.116012,...,0.014361,0.001730,1.014573,0.003218,0.019650,0.001518,1.487356,0.002275,0.015607,0.0
2018-06-28,0.000457,0.002074,2.197821,0.009228,0.008941,1.757014,0.000537,0.017722,0.002217,2.526999,...,0.014232,0.001816,1.012004,0.002706,0.019903,0.001580,1.308010,0.001383,0.015305,0.0
2018-06-29,0.000889,0.008030,4.824791,0.009234,0.011891,2.687040,0.008031,0.017830,0.002428,3.527712,...,0.014479,0.003589,2.199880,0.011460,0.019573,0.002389,2.316317,0.007558,0.015851,0.0

# 人民币资产和全球资产系统性风险

In [382]:
risk = pd.read_excel('D:/Data/risk/systematic.xlsx')

In [383]:
risk.tail()

               China    Global
2018-06-28  0.720728  0.907726
2018-06-29  0.718705  0.907183
2018-07-02  0.716260  0.906777
2018-07-03  0.714132  0.906289
2018-07-04  0.711767  0.905747

In [384]:
risk['China z'] = risk['China'].rolling(window).apply(lambda x: (x[-1] - x.mean()) / x.std())
risk['Global z'] = risk['Global'].rolling(window).apply(lambda x: (x[-1] - x.mean()) / x.std())

# 股债相对收益率

In [385]:
eyby = pd.read_excel('D:/workspace/zjsxzy_in_js/website/everyday-update/data/EYBY.xlsx')

In [386]:
eyby.tail()

             pe_ttm   ytm_b      close
2018-06-28  15.5745  4.3617  3755.1617
2018-06-29  15.9904  4.3170  3860.3372
2018-07-02  15.6223  4.2948  3778.0198
2018-07-03  15.7146  4.2826  3802.3380
2018-07-04  15.5353  4.2803  3744.8972

In [387]:
eyby = eyby.dropna()

In [ ]:
eyby['spread'] = ((100. / eyby['pe_ttm']) - eyby['ytm_b']).rolling(window=5).mean()
eyby['spread'] = eyby['spread'] / 100

In [ ]:
eyby['z'] = eyby['spread'].rolling(window=window).apply(lambda x: (x[-1] - x.mean()) / x.std())

# 市场一致度

In [ ]:
cons = pd.read_excel('D:/workspace/zjsxzy_in_js/website/everyday-update/data/consistency.xlsx', index_col=0)

In [ ]:
cons.tail()

In [ ]:
cons = cons[cons.index >= '2005-01-01']

In [ ]:
cons['z'] = cons['con60'].rolling(window=window).apply(lambda x: (x[-1] - x.mean()) / x.std())

# 债券流动性

In [ ]:
bo_li = pd.read_excel('D:/Data/risk/bond_liquidity.xlsx', index_col=0)

In [ ]:
bo_li.tail()

In [ ]:
bo_li['z'] = bo_li['ILLIQUIDITY'].rolling(window=window).apply(lambda x: (x[-1] - x.mean()) / x.std())

In [ ]:
bo_li.loc[bo_li['z'].abs() < 2, 'z'] = 0

# 点击量数据

In [ ]:
click = pd.read_excel(u'D:/Data/risk/点击量数据.xlsx')

In [ ]:
click.tail()

In [ ]:
click = click.set_index('Date')

In [ ]:
click['click'] = click['Page Clicks'].rolling(20).mean()

In [ ]:
click['z'] = click['click'].rolling(window).apply(lambda x: (x[-1] - x.mean()) / x.std())

In [ ]:
click['z'].plot(figsize=(16, 9))

# 美欧经济意外指数之差

In [ ]:
us_eu = pd.read_excel('D:/Data/macro/us/econ_accident.xlsx')

In [ ]:
us_eu['diff'] = us_eu['us econ ac'] - us_eu['eu econ ac']

# 铜油比

In [ ]:
cop = pd.read_excel(u'D:/Data/industry/metal/LME铜三个月期货价格.xlsx')
oil = pd.read_excel(u'D:/Data/industry/metal/Brent油价.xlsx')

In [ ]:
cop_oil_ratio = (cop[cop.columns[0]] / oil[oil.columns[0]]).dropna()

In [ ]:
cop_oil_z = cop_oil_ratio.rolling(window).apply(lambda x: (x[-1] - x.mean()) / x.std())

# 画图

In [ ]:
fig = plt.figure(figsize=(16, 36))
row = 6

ax1 = fig.add_subplot(row, 2, 1)
ax1.plot(df.index, df['current return'], label=u'持有成本盈亏')
ax1.plot(df.index, df['current return'].rolling(window=243).mean(), label=u'一年滚动均值')
ax1.legend()
ax1.set_title(u'持有成本盈亏', fontsize=15)
vals = ax1.get_yticks()
ax1.set_yticklabels(['{:3.2f}%'.format(x*100) for x in vals])

ax2 = fig.add_subplot(row, 2, 2)
ax2.plot(df.index, df['profit percentage'], label=u'持仓盈利占比')
ax2.plot(df.index, df['profit percentage'].rolling(window=243).mean(), label=u'一年滚动均值')
ax2.legend()
ax2.set_title(u'持仓盈利占比', fontsize=15)
vals = ax2.get_yticks()
ax2.set_yticklabels(['{:3.2f}%'.format(x*100) for x in vals])

ax3 = fig.add_subplot(row, 2, 3)
ax3.plot(repo.index, repo['rolling mean'], c='blue')
ax3.set_title(u'回购加权成交期限', fontsize=15)

ax4 = fig.add_subplot(row, 2, 4)
ax4.bar(bo_li.index, bo_li['z'].abs(), color='#99CCFF', width=5)
ax4.set_title(u'债券流动性风险', fontsize=15)

ax5 = fig.add_subplot(row, 2, 5)
ax5.plot(risk.index, risk['China z'], c='#D53E4F')
ax5.set_title(u'人民币资产系统性风险', fontsize=15)

ax6 = fig.add_subplot(row, 2, 6)
ax6.plot(risk.index, risk['Global z'], c='#D53E4F')
ax6.set_title(u'全球资产系统性风险', fontsize=15)

ax7 = fig.add_subplot(row, 2, 7)
ax7.plot(eyby.index, eyby['spread'], label=u'股相对债收益率', c='#3366FF')
ax7.legend()
vals = ax7.get_yticks()
ax7.set_yticklabels(['{:3.2f}%'.format(x*100) for x in vals])
ax77 = ax7.twinx()
ax77.plot(eyby.index, eyby['close'], label=u'万得全A', color='#FF6600', linewidth=1)
ax77.legend(loc='upper left')
ax7.set_title(u'股债相对收益率', fontsize=15)

ax8 = fig.add_subplot(row, 2, 8)
ax8.plot(cons.index, cons['z'], c='#3366FF')
ax8.set_title(u'市场方向一致度', fontsize=15)

ax9 = fig.add_subplot(row, 2, 9)
ax9.bar(st_li.index, st_li['z'].abs(), color='#6666CC', width=5)
ax9.set_title(u'股票流动性风险', fontsize=15)

ax10 = fig.add_subplot(row, 2, 10)
ax10.plot(click.index, click['z'], c='#FF9933')
ax10.set_title(u'散户点击量', fontsize=15)

ax11 = fig.add_subplot(row, 2, 11)
ax11.plot(us_eu['diff'], color='#990000')
ax11.set_title(u'美国与欧元区经济意外指数之差', fontsize=15)

ax12 = fig.add_subplot(row, 2, 12)
ax12.plot(cop_oil_ratio, color='#990000')
ax12.set_title(u'铜油比', fontsize=15)

In [ ]:
fig.savefig('plot.png', dpi=200, bbox_inches='tight')