In [1]:
import pandas as pd
from WindPy import w

In [2]:
w.start()

Welcome to use Wind Quant API for Python (WindPy)!
You can use w.menu to help yourself to create commands(WSD,WSS,WST,WSI,WSQ,...)!

COPYRIGHT (C) 2017 WIND INFORMATION CO., LTD. ALL RIGHTS RESERVED.
IN NO CIRCUMSTANCE SHALL WIND BE RESPONSIBLE FOR ANY DAMAGES OR LOSSES CAUSED BY USING WIND QUANT API FOR Python.

.ErrorCode=0
.Data=[OK!]

In [26]:
def wind2df(raw_data):
    dic = {}
    for data, field in zip(raw_data.Data, raw_data.Fields):
        dic[field.lower()] = data
    if len(raw_data.Times) == len(raw_data.Data[0]):
        return pd.DataFrame(dic, index=raw_data.Times)
    else:
        return pd.DataFrame(dic)

In [27]:
data = w.wsd('000001.SH', 'close', '1990-01-01', '2017-10-30')

In [28]:
df = wind2df(data)

In [29]:
df.columns = ['000001.SH']

In [30]:
df.head()

            000001.SH
1990-12-19      99.98
1990-12-20     104.39
1990-12-21     109.13
1990-12-24     114.55
1990-12-25     120.25

In [31]:
df.to_excel('./cn_stock.xlsx')

In [14]:
data = w.wsd('065.CS', 'close', '1990-01-01', '2017-10-30')

In [15]:
df['065.CS'] = wind2df(data)['close']

In [17]:
df.dropna().to_excel('./data/cn.xlsx')

In [32]:
data = w.wsd('DJI.GI', 'close', '1900-01-01', '2017-10-29')

In [33]:
df = wind2df(data)

In [34]:
df

               close
1990-12-19   2626.73
1990-12-20   2629.46
1990-12-21   2633.66
1990-12-24   2621.29
1990-12-25   2621.29
1990-12-26   2637.13
1990-12-27   2625.50
1990-12-28   2629.21
1990-12-31   2633.66
1991-01-02   2610.64
1991-01-03   2573.51
1991-01-04   2566.09
1991-01-07   2522.77
1991-01-08   2509.41
1991-01-09   2470.30
1991-01-10   2498.76
1991-01-11   2501.49
1991-01-14   2483.91
1991-01-15   2490.59
1991-01-16   2508.91
1991-01-17   2623.51
1991-01-18   2646.78
1991-01-21   2629.21
1991-01-22   2603.22
1991-01-23   2619.06
1991-01-24   2643.07
1991-01-25   2659.41
1991-01-28   2654.46
1991-01-29   2662.62
1991-01-30   2713.12
...              ...
2017-09-11  22057.37
2017-09-12  22118.86
2017-09-13  22158.18
2017-09-14  22203.48
2017-09-15  22268.34
2017-09-18  22331.35
2017-09-19  22370.80
2017-09-20  22412.59
2017-09-21  22359.23
2017-09-22  22349.59
2017-09-25  22296.09
2017-09-26  22284.32
2017-09-27  22340.71
2017-09-28  22381.20
2017-09-29  22405.09
2017-10-09  22761.07
2017-10-10  22830.68
2017-10-11  22872.89
2017-10-12  22841.01
2017-10-13  22871.72
2017-10-16  22956.96
2017-10-17  22997.44
2017-10-18  23157.60
2017-10-19  23163.04
2017-10-20  23328.63
2017-10-23  23273.96
2017-10-24  23441.76
2017-10-25  23329.46
2017-10-26  23400.86
2017-10-27  23434.19

[6568 rows x 1 columns]

In [21]:
df.columns = ['S&P500']

In [22]:
df.to_excel('./data/use.xlsx')