In [62]:
import pandas as pd
import datetime
from WindPy import w
import matplotlib.pyplot as plt
%matplotlib inline

In [63]:
DATA_DIR = 'D:/workspace/zjsxzy_in_js/website/derivative/data/'
OPTION_DIR = 'D:/Data/derivatives/options/'

In [64]:
df = pd.read_excel('%s/option list.xlsx'%(DATA_DIR), skiprows=6)

In [65]:
df.head(n=10)

,标的代码,标的名称,期权品种,期权代码,期权名称,行权类型,行权价,期权交割月份,期权类型,起始交易日期,最后交易日期,剩余存续期（天）,结算方式,合约乘数
0,510050.SH,华夏上证50ETF,510050OP.SH,10000537.SH,50ETF购2016年1月1.95,欧式,1.95,201601,认购,2016-01-18,2016-01-27,1,实物资产,10000
1,510050.SH,华夏上证50ETF,510050OP.SH,10000531.SH,50ETF购2016年1月2.00,欧式,2.00,201601,认购,2016-01-14,2016-01-27,1,实物资产,10000
2,510050.SH,华夏上证50ETF,510050OP.SH,10000525.SH,50ETF购2016年1月2.05,欧式,2.05,201601,认购,2016-01-12,2016-01-27,1,实物资产,10000
3,510050.SH,华夏上证50ETF,510050OP.SH,10000515.SH,50ETF购2016年1月2.10,欧式,2.10,201601,认购,2016-01-08,2016-01-27,1,实物资产,10000
4,510050.SH,华夏上证50ETF,510050OP.SH,10000516.SH,50ETF购2016年1月2.15,欧式,2.15,201601,认购,2016-01-08,2016-01-27,1,实物资产,10000
5,510050.SH,华夏上证50ETF,510050OP.SH,10000489.SH,50ETF购2016年1月2.20,欧式,2.20,201601,认购,2015-11-30,2016-01-27,1,实物资产,10000
6,510050.SH,华夏上证50ETF,510050OP.SH,10000490.SH,50ETF购2016年1月2.25,欧式,2.25,201601,认购,2015-11-30,2016-01-27,1,实物资产,10000
7,510050.SH,华夏上证50ETF,510050OP.SH,10000491.SH,50ETF购2016年1月2.30,欧式,2.30,201601,认购,2015-11-30,2016-01-27,1,实物资产,10000
8,510050.SH,华夏上证50ETF,510050OP.SH,10000479.SH,50ETF购2016年1月2.35,欧式,2.35,201601,认购,2015-11-26,2016-01-27,1,实物资产,10000
9,510050.SH,华夏上证50ETF,510050OP.SH,10000480.SH,50ETF购2016年1月2.40,欧式,2.40,201601,认购,2015-11-26,2016-01-27,1,实物资产,10000

In [66]:
prices = df[u'行权价'].unique()

In [67]:
prices.sort()

In [68]:
prices

array([ 1.8 ,  1.85,  1.9 ,  1.95,  2.  ,  2.05,  2.1 ,  2.15,  2.2 ,
        2.25,  2.3 ,  2.35,  2.4 ,  2.45,  2.5 ,  2.55,  2.6 ,  2.65,
        2.7 ,  2.75,  2.8 ,  2.85,  2.9 ])

In [69]:
names = []
for i in df.index:
    price = df.loc[i][u'行权价']
    name = df.loc[i][u'期权名称'].rstrip('A').replace(u'2017年', '')
    name = name[:name.find(str(price))]
    if name not in names:
        names.append(name)

In [70]:
for name in names:
    print name

50ETF购2016年1月
50ETF沽2016年1月
50ETF购2016年2月
50ETF沽2016年2月
50ETF购2016年3月
50ETF沽2016年3月
50ETF购2016年6月
50ETF沽2016年6月

In [71]:
odf = pd.DataFrame({}, index=prices, columns=names)

In [72]:
date = datetime.datetime(2016, 1, 26)

In [73]:
date

datetime.datetime(2016, 1, 26, 0, 0)

In [74]:
for index in df.index:
    option_code = df.loc[index][u'期权代码']
    price = df.loc[index][u'行权价']
    name = df.loc[index][u'期权名称'].rstrip('A').replace(u'2017年', '')
    name = name[:name.find(str(price))]
#     print option_code, odf.loc[price][name]
    fname = '%s/%s.xlsx'%(OPTION_DIR, option_code)
#     print fname
    tdf = pd.read_excel(fname, index_col=0)
#     print tdf.loc[date]['OI']
    odf.loc[price][name] = tdf.loc[date]['oi']

In [75]:
odf

,50ETF购2016年1月,50ETF沽2016年1月,50ETF购2016年2月,50ETF沽2016年2月,50ETF购2016年3月,50ETF沽2016年3月,50ETF购2016年6月,50ETF沽2016年6月
1.80,NaN,NaN,NaN,NaN,7143,19477,NaN,NaN
1.85,NaN,NaN,NaN,NaN,2956,3994,NaN,NaN
1.90,NaN,NaN,NaN,NaN,3435,4633,NaN,NaN
1.95,1410,6452,5323,9383,3731,3931,1361,1431
2.00,3216,4063,6434,7676,5173,3434,885,796
2.05,6925,3076,10495,8243,5242,2955,1983,603
2.10,9759,1539,13438,7016,6646,3083,2118,1075
2.15,8296,817,12958,3388,6101,2811,2718,3423
2.20,15369,3600,16820,3796,5267,3396,1605,1292
2.25,13168,1505,8282,1565,5557,2477,1138,583
2.30,16647,1027,9192,3552,6402,3227,885,1606
2.35,17255,1505,6886,1759,3762,1736,1010,2343
2.40,21200,2230,8811,2583,6274,2783,2003,3227
2.45,19983,2263,3177,1987,4895,1127,1388,2823
2.50,19578,872,4747,942,6876,1553,2062,1873
2.55,17604,482,3480,956,4445,1020,1692,1166
2.60,16064,437,8059,1444,5300,801,1998,1139
2.65,NaN,NaN,NaN,NaN,4121,648,4173,1334
2.70,NaN,NaN,NaN,NaN,4766,594,NaN,NaN
2.75,NaN,NaN,NaN,NaN,3450,574,NaN,NaN
2.80,NaN,NaN,NaN,NaN,3945,839,NaN,NaN
2.85,NaN,NaN,NaN,NaN,5763,1327,NaN,NaN
2.90,NaN,NaN,NaN,NaN,21764,3553,NaN,NaN

In [76]:
odf.to_excel('%s/heatmap.xlsx'%(DATA_DIR))