In [1]:
import pandas as pd
import datetime
from WindPy import w
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
DATA_DIR = 'C:/Users/jgtzsx01/Documents/workspace/zjsxzy_in_js/website/derivative/data/'
OPTION_DIR = 'D:/Data/derivatives/options/'

In [33]:
df = pd.read_excel('%s/option list.xlsx'%(DATA_DIR), skiprows=6)

In [34]:
df.head(n=10)

,标的代码,标的名称,期权品种,期权代码,期权名称,行权类型,行权价,期权交割月份,期权类型,起始交易日期,最后交易日期,剩余存续期（天）,结算方式,合约乘数
0,510050.SH,华夏上证50ETF,510050OP.SH,10000885.SH,50ETF购9月2.20,欧式,2.20,201709,认购,2017-04-20,2017-09-27,1,实物资产,10000
1,510050.SH,华夏上证50ETF,510050OP.SH,10000843.SH,50ETF购9月2.25,欧式,2.25,201709,认购,2017-01-26,2017-09-27,1,实物资产,10000
2,510050.SH,华夏上证50ETF,510050OP.SH,10000844.SH,50ETF购9月2.30,欧式,2.30,201709,认购,2017-01-26,2017-09-27,1,实物资产,10000
3,510050.SH,华夏上证50ETF,510050OP.SH,10000845.SH,50ETF购9月2.35,欧式,2.35,201709,认购,2017-01-26,2017-09-27,1,实物资产,10000
4,510050.SH,华夏上证50ETF,510050OP.SH,10000846.SH,50ETF购9月2.40,欧式,2.40,201709,认购,2017-01-26,2017-09-27,1,实物资产,10000
5,510050.SH,华夏上证50ETF,510050OP.SH,10000847.SH,50ETF购9月2.45,欧式,2.45,201709,认购,2017-01-26,2017-09-27,1,实物资产,10000
6,510050.SH,华夏上证50ETF,510050OP.SH,10000855.SH,50ETF购9月2.50,欧式,2.50,201709,认购,2017-02-14,2017-09-27,1,实物资产,10000
7,510050.SH,华夏上证50ETF,510050OP.SH,10000913.SH,50ETF购9月2.55,欧式,2.55,201709,认购,2017-05-26,2017-09-27,1,实物资产,10000
8,510050.SH,华夏上证50ETF,510050OP.SH,10000921.SH,50ETF购9月2.60,欧式,2.60,201709,认购,2017-06-01,2017-09-27,1,实物资产,10000
9,510050.SH,华夏上证50ETF,510050OP.SH,10000929.SH,50ETF购9月2.65,欧式,2.65,201709,认购,2017-06-26,2017-09-27,1,实物资产,10000

In [35]:
prices = df[u'行权价'].unique()

In [36]:
prices.sort()

In [37]:
prices

array([ 2.2 ,  2.25,  2.3 ,  2.35,  2.4 ,  2.45,  2.5 ,  2.55,  2.6 ,
        2.65,  2.7 ,  2.75,  2.8 ,  2.85,  2.9 ])

In [38]:
names = []
for i in df.index:
    price = df.loc[i][u'行权价']
    name = df.loc[i][u'期权名称'].rstrip('A').replace(u'2017年', '')
    name = name[:name.find(str(price))]
    if name not in names:
        names.append(name)

In [39]:
for name in names:
    print name

50ETF购9月
50ETF沽9月
50ETF购10月
50ETF沽10月
50ETF购12月
50ETF沽12月
50ETF购3月
50ETF沽3月

In [40]:
odf = pd.DataFrame({}, index=prices, columns=names)

In [44]:
date = datetime.datetime(2017, 9, 26)

In [45]:
date

datetime.datetime(2017, 9, 26, 0, 0)

In [47]:
for index in df.index:
    option_code = df.loc[index][u'期权代码']
    price = df.loc[index][u'行权价']
    name = df.loc[index][u'期权名称'].rstrip('A').replace(u'2017年', '')
    name = name[:name.find(str(price))]
#     print option_code, odf.loc[price][name]
    fname = '%s/%s.xlsx'%(OPTION_DIR, option_code)
#     print fname
    tdf = pd.read_excel(fname, index_col=0)
#     print tdf.loc[date]['OI']
    odf.loc[price][name] = tdf.loc[date]['OI']

In [48]:
odf

,50ETF购9月,50ETF沽9月,50ETF购10月,50ETF沽10月,50ETF购12月,50ETF沽12月,50ETF购3月,50ETF沽3月
2.20,1031,14768,NaN,NaN,12247,15402,NaN,NaN
2.25,696,24790,NaN,NaN,2275,10999,NaN,NaN
2.30,614,11685,NaN,NaN,2527,10864,NaN,NaN
2.35,1310,11356,NaN,NaN,2826,11188,NaN,NaN
2.40,2479,15465,NaN,NaN,3748,18487,NaN,NaN
2.45,2177,17698,NaN,NaN,7896,24897,NaN,NaN
2.50,3075,35483,NaN,NaN,13046,20602,3076,8257
2.55,2813,28120,NaN,NaN,7843,19123,1859,5315
2.60,3573,46345,20763,40623,10657,12714,6127,6797
2.65,12628,49148,19463,45229,12174,11990,3971,5250
2.70,51229,83055,46730,66531,10802,18480,5485,7198
2.75,77262,28532,83684,52558,15795,12526,6933,7861
2.80,86540,18669,94893,30439,22845,8183,15424,9809
2.85,76232,7862,70268,15134,20269,6122,24147,7987
2.90,42809,2575,87470,9618,17153,5253,18168,7069

In [49]:
odf.to_excel('%s/heatmap.xlsx'%(DATA_DIR))